1. Faça a importação do módulo Pandas

In [102]:
import pandas as pd

2. Crie um Dataframe com as séries: Nome, Idade, prato favorito. Preencha com seus dados e da sua família. Fique a vontade para adicionar novas colunas.

In [103]:
dados = {
    'nome':['Victor','Neusa','Enedina','Aline','Elza','Carol'],
    'idade':[27,59,84,33,53,22],
    'prato favorito':['Lasanha','Sushi','Quiabo com abóbora','Strogonoff','Churrasco','Pizza']    

}

df = pd.DataFrame(dados)
df

      nome  idade      prato favorito
0   Victor     27             Lasanha
1    Neusa     59               Sushi
2  Enedina     84  Quiabo com abóbora
3    Aline     33          Strogonoff
4     Elza     53           Churrasco
5    Carol     22               Pizza

3. Qual a idade média da sua família?

In [104]:
df['idade'].mean()

46.333333333333336

4. Qual a maior e a menor idade de sua família?

In [105]:
df['idade'].min()

22

5. Faça uma pesquina na internet e busque os seguintes dados:
Nome dos estados brasileiros;
Sigla dos estados;
Região;
Capital;
Polulação.

6. Adicione estas informações em um Datafrane;

In [106]:
df_estados = pd.read_csv('estados.csv')
df_estados.rename(columns={"Unnamed: 5": "Região",
                           "População(2014)": "População",
                           "Abreviação": "Sigla"}, inplace = True)
df_estados

,Unidade federativa,Sigla,Capital,Área(km²),População,Região
0,Acre,AC,Rio Branco,164122.2,795145,Norte
1,Alagoas,AL,Maceió,27767.7,3327551,Nordeste
2,Amapá,AP,Macapá,142814.6,756500,Norte
3,Amazonas,AM,Manaus,1570745.7,3893763,Norte
4,Bahia,BA,Salvador,564692.7,15150143,Nordeste
5,Ceará,CE,Fortaleza,148825.6,8867448,Nordeste
6,Distrito Federal,DF,Brasília,5822.1,2867869,Centro-Oeste
7,Espírito Santo,ES,Vitória,46077.5,3894899,Sudeste
8,Goiás,GO,Goiânia,340086.7,6551322,Centro-Oeste
9,Maranhão,MA,São Luís,331983.3,6861924,Nordeste
10,Mato Grosso,MT,Cuiabá,903357.9,3236578,Centro-Oeste
11,Mato Grosso do Sul,MS,Campo Grande,357125.0,2630098,Centro-Oeste
12,Minas Gerais,MG,Belo Horizonte,586528.3,20777672,Sudeste
13,Pará,PA,Belém,1247689.5,8101180,Norte
14,Paraíba,PB,João Pessoa,56439.8,3950359,Nordeste
15,Paraná,PR,Curitiba,199314.9,11112062,Sul
16,Pernambuco,PE,Recife,98311.6,9297861,Nordeste
17,Piauí,PI,Teresina,251529.2,3198185,Nordeste
18,Rio de Janeiro,RJ,Rio de Janeiro,43696.1,16497395,Sudeste
19,Rio Grande do Norte,RN,Natal,52796.8,3419550,Nordeste
20,Rio Grande do Sul,RS,Porto Alegre,281748.5,11228091,Sul
21,Rondônia,RO,Porto Velho,237576.2,1755015,Norte
22,Roraima,RR,Boa Vista,224299.0,500826,Norte
23,Santa Catarina,SC,Florianópolis,95346.2,6734568,Sul
24,São Paulo,SP,São Paulo,248209.4,44169350,Sudeste
25,Sergipe,SE,Aracaju,21910.3,2227294,Nordeste
26,Tocantins,TO,Palmas,277620.9,1502759,Norte

7. Exiba na tela apenas a sigla e a população;

In [107]:
df_estados[['Sigla','População']]

   Sigla  População
0     AC     795145
1     AL    3327551
2     AP     756500
3     AM    3893763
4     BA   15150143
5     CE    8867448
6     DF    2867869
7     ES    3894899
8     GO    6551322
9     MA    6861924
10    MT    3236578
11    MS    2630098
12    MG   20777672
13    PA    8101180
14    PB    3950359
15    PR   11112062
16    PE    9297861
17    PI    3198185
18    RJ   16497395
19    RN    3419550
20    RS   11228091
21    RO    1755015
22    RR     500826
23    SC    6734568
24    SP   44169350
25    SE    2227294
26    TO    1502759

8. Qual o estado com a maior população?

In [108]:
df_estados.nlargest(1,'População')

   Unidade federativa Sigla    Capital  Área(km²)  População   Região
24          São Paulo    SP  São Paulo   248209.4   44169350  Sudeste

9. Qual a quantidade de estados?

In [109]:
df_estados["Unidade federativa"].count()

27

10. Crie novos Dataframes a partir do conjunto principal. Crie um Dataframe para cada uma das regiões.

In [110]:
filtro_norte = df_estados['Região'] == 'Norte'
df_norte = df_estados[filtro_norte]
df_norte

   Unidade federativa Sigla      Capital  Área(km²)  População Região
0                Acre    AC   Rio Branco   164122.2     795145  Norte
2               Amapá    AP       Macapá   142814.6     756500  Norte
3            Amazonas    AM       Manaus  1570745.7    3893763  Norte
13               Pará    PA        Belém  1247689.5    8101180  Norte
21           Rondônia    RO  Porto Velho   237576.2    1755015  Norte
22            Roraima    RR    Boa Vista   224299.0     500826  Norte
26          Tocantins    TO       Palmas   277620.9    1502759  Norte

In [111]:
filtro_sul = df_estados['Região'] == 'Sul'
df_sul = df_estados[filtro_sul]
df_sul

   Unidade federativa Sigla        Capital  Área(km²)  População Região
15             Paraná    PR       Curitiba   199314.9   11112062    Sul
20  Rio Grande do Sul    RS   Porto Alegre   281748.5   11228091    Sul
23     Santa Catarina    SC  Florianópolis    95346.2    6734568    Sul

In [112]:
filtro_sudeste = df_estados['Região'] == 'Sudeste'
df_sudeste = df_estados[filtro_sudeste]
df_sudeste

   Unidade federativa Sigla         Capital  Área(km²)  População   Região
7      Espírito Santo    ES         Vitória    46077.5    3894899  Sudeste
12       Minas Gerais    MG  Belo Horizonte   586528.3   20777672  Sudeste
18     Rio de Janeiro    RJ  Rio de Janeiro    43696.1   16497395  Sudeste
24          São Paulo    SP       São Paulo   248209.4   44169350  Sudeste

In [113]:
filtro_centro_oeste = df_estados['Região'] == "Centro-Oeste"
df_centro_oeste = df_estados[filtro_centro_oeste]
df_centro_oeste

    Unidade federativa Sigla       Capital  Área(km²)  População        Região
6     Distrito Federal    DF      Brasília     5822.1    2867869  Centro-Oeste
8                Goiás    GO       Goiânia   340086.7    6551322  Centro-Oeste
10         Mato Grosso    MT        Cuiabá   903357.9    3236578  Centro-Oeste
11  Mato Grosso do Sul    MS  Campo Grande   357125.0    2630098  Centro-Oeste

In [114]:
filtro_nordeste = df_estados['Região'] == 'Nordeste'
df_nordeste = df_estados[filtro_nordeste]
df_nordeste

     Unidade federativa Sigla      Capital  Área(km²)  População    Região
1               Alagoas    AL       Maceió    27767.7    3327551  Nordeste
4                 Bahia    BA     Salvador   564692.7   15150143  Nordeste
5                 Ceará    CE    Fortaleza   148825.6    8867448  Nordeste
9              Maranhão    MA     São Luís   331983.3    6861924  Nordeste
14              Paraíba    PB  João Pessoa    56439.8    3950359  Nordeste
16           Pernambuco    PE       Recife    98311.6    9297861  Nordeste
17                Piauí    PI     Teresina   251529.2    3198185  Nordeste
19  Rio Grande do Norte    RN        Natal    52796.8    3419550  Nordeste
25              Sergipe    SE      Aracaju    21910.3    2227294  Nordeste

11. Quantidade de estados por região?

In [115]:
print(f"Estados do nordeste: {df_nordeste['Unidade federativa'].count()}")
print(f"Estados do norte: {df_norte['Unidade federativa'].count()}")
print(f"Estados do sul: {df_sul['Unidade federativa'].count()}")
print(f"Estados do sudeste: {df_sudeste['Unidade federativa'].count()}")
print(f"Estados do Centro-Oeste: {df_centro_oeste['Unidade federativa'].count()}")

Estados do nordeste: 9
Estados do norte: 7
Estados do sul: 3
Estados do sudeste: 4
Estados do Centro-Oeste: 4

12. Polulação total de cada região?

In [116]:
print(f"População do sul: {df_sul['População'].sum()}")
print(f"População do sudeste: {df_sudeste['População'].sum()}")
print(f"População do nordeste: {df_nordeste['População'].sum()}")
print(f"População do centro-oeste: {df_centro_oeste['População'].sum()}")
print(f"População do norte: {df_norte['População'].sum()}")

População do sul: 29074721
População do sudeste: 85339316
População do nordeste: 56300315
População do centro-oeste: 15285867
População do norte: 17305188

13. Qual região com a maior população?

14. Qual a regiçao com a menor população?

In [117]:
regioes = df_estados['Região'].unique()
populacoes_regional = []

for i in regioes:
  filtro = df_estados['Região'] == i
  populacoes_regional.append(df_estados[filtro]['População'].sum())

print(f"A região mais populosa é a {regioes[populacoes_regional.index(max(populacoes_regional))]}")
print(f"A região menos populosa é a {regioes[populacoes_regional.index(min(populacoes_regional))]}")

A região mais populosa é a Sudeste
A região menos populosa é a Centro-Oeste

15. Qual a população média de cada região?

In [118]:
regioes = df_estados['Região'].unique()

for i in regioes:
  filtro = df_estados['Região'] == i
  print(f"A população média do {i} é {df_estados[filtro]['População'].mean()}")

A população média do Norte é 2472169.714285714
A população média do Nordeste é 6255590.555555556
A população média do Centro-Oeste é 3821466.75
A população média do Sudeste é 21334829.0
A população média do Sul é 9691573.666666666